__pycache__/simplex.cpython-312.pyc
__pycache__/test.cpython-312.pyc
__pycache__/test_compare_solve_lp_with_linprog.cpython-312.pyc
__pycache__/test.cpython-312.pyc
__pycache__/test.cpython-312.pyc
__pycache__/test.cpython-312.pyc
__pycache__/test.cpython-312.pyc
